 /*---------------  INTRO ---------------  */
 
  
  .containerInt {
    
      color: rgb(14, 0, 0);
      text-transform: uppercase;
      font-size: 50px;
      font-weight: bold;
      width: 100%;
      height: 400px;
      display: flex;
      /* background: url(../IMG/bg.svg);
      background-size: cover;
      background-repeat: no-repeat; */
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  @media only screen and (max-width : 600px) {
    .containerInt {
      color: rgb(14, 0, 0);
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      width: 100%;
      height: 400px ;
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }  
   }
  
  .flip {
    height: 80px;
    overflow: hidden;
  }
  
  .flip > div > div {
    color: #fff;
    height: 80px;
    display: inline-block;
    text-align: center;
  }
  
  .flip div:first-child {
    animation: show 6s linear infinite;
  }
  
  /* .flip div div {
    background: #42c58a;
  } */
  .flip div:first-child div {
    background: #4ec7f3;
  }
  .flip div:last-child div {
    background: #dc143c;
  }
  
  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  /*----------------- Efctos -----------------*/

  
.context {
  width: 100%;
  position: absolute;
}
.area{
  background: url(../css-y-svg-waves-animation.gif);  
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:90vh; 
}
.circles{
  position: absolute;
  left: 0;
  width: 100%;
  height: 190%;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


